/*  ================
        PRINCIPAL
    ================
*/

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #023436;
    --cor-fundo: #262c2e;
    --cor-letra: #ffffff;
    --cor-titulo: #ffffff;
}
h1{
    color: var(--cor-titulo);
    font-size: 40px;
    font-family: 'Nerko One', cursive;
}
h2{
    font-size: 30px;
    font-family: 'Nerko One', cursive;

}
/* ============================
    Criação dos Itens da loja
   ============================
*/

.item{
    width: 18%;
    padding: 2%;
    margin: 1%;
    position: relative;
    text-align: center;
    border-radius: 5px;
    background-color: #03B5AA;
    float: left;
}
.item:hover{
    width: 19%;
    box-shadow: 5px 5px #037971;
}
.item img{
    width: 90%;
    border-radius: 5px;
}
.item img:hover{
    width: 95%;
    box-shadow: 5px 5px #037971;
}
.item a#btn{
    text-decoration: none;
    background-color: #023436;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 20px;
}
.item a#btn:hover{
    font-weight: bolder;
    box-shadow: 3px 3px #037971;
}



/* =====================
    Redimensionamento
   =====================
*/
@media screen and (min-width: 700px) {
    
}

@media screen and (max-width: 790px) {
    .esquerda{
        width: 100%;
        height: 40%;
    }
    .direita{
        width: 100%;
        height: 40%;
    }
    .item{
        width:43%;
    }
    .item:hover{
        width:44%;
    }
}
/* ==========
    Riodape
   ==========
*/
footer{
    font-weight: bolder;
    text-align: center;
}