body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
}
/* Corpo */
div#corpo {
    position: relative;
    width: 900px;
    margin: auto;
    height: 800px;
    padding: 10px;
    box-shadow: 0px 0px 3px rgb(0,0,0,0.5);
}
/* Menu */
menu#navegador {
    float: right;
    width: 150px;
    height: 50px;
}
menu#navegador li {
    position: relative;
    padding: 5px;
    border-right: 1px solid black;
    list-style: none;
    float: left;
}
/* Divisão da pagina*/
section {
    width: 290px;
    float:left;
    border-right: 1px solid black;
}
aside {
    width: 580px;
    padding: 10px;
    float: left;
}
/* Validação para todos */
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    size: 15px;
}
iframe {
    width: 250px;
    height: 180px;
}
/* Part Rotatoria */
div#secao-01 {
    margin: auto;
    width:400px;
}
div#secao-02 {
    margin: auto;
    width: 400px;
    display: none;
    background-color: red;
}
div#secao-03 {
    margin: auto;
    width: 400px;
    display: none;
    background-color: blue;
}
div#secao-04 {
    margin: auto;
    width: 400px;
    display: none;
    background-color: burlywood;
}
div#secao-05 {
    margin: auto;
    width: 400px;
    display: none;
    background-color: green;
}
/* Botao para Rolagem */
div#butao {
    width: 80px;
    margin: auto;
}
/* Rodape */
footer {
    text-align: center;
    border-top:1px solid black;
}

